@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 50px;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  font: 400;
  color: #4c4e61;
  padding: 0;
}

.header span {
  font-weight: 300;
}

.header .par {
  display: block;
  line-height: 20px;
  margin-top: 20px;
  width: auto;
}

.header .h1 {
  display: block;
  line-height: 40px;
}

.cards {
  height: 530px;
  width: 1110;
  margin-top: -50px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'card4 card1 card1 card1 card2' 'card4 card3 card3 card3 card2';
}

.cards .card1 {
  height: 210px;
  width: 350px;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: card1;
  margin-top: 80px;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 10px 28px -5px gray;
          box-shadow: 0px 10px 28px -5px gray;
  border-top: 4px solid #ea5353;
  font-size: smaller;
}

.cards .card1 img {
  margin-left: 220px;
}

.cards .card2 {
  height: 210px;
  width: 350px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 5;
  grid-area: card2;
  margin-top: 200px;
  margin-left: -150px;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 10px 28px -5px gray;
          box-shadow: 0px 10px 28px -5px gray;
  border-top: 4px solid #549ef2;
  font-size: smaller;
}

.cards .card2 img {
  margin-left: 220px;
}

.cards .card3 {
  height: 210px;
  width: 350px;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: card3;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 10px 28px -5px gray;
          box-shadow: 0px 10px 28px -5px gray;
  border-top: 4px solid #fcaf4a;
  font-size: smaller;
}

.cards .card3 img {
  margin-left: 220px;
}

.cards .card4 {
  height: 210px;
  width: 350px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: card4;
  margin-top: 200px;
  margin-left: 50px;
  border-top: 4px solid #45d3d3;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 10px 28px -5px gray;
          box-shadow: 0px 10px 28px -5px gray;
  font-size: smaller;
}

.cards .card4 img {
  margin-left: 220px;
}

@media only screen and (max-width: 1220px) {
  .cards {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'card1' 'card2' 'card3' 'card4';
    place-content: center;
    margin-top: 220px;
  }
  .cards .card1 {
    display: -ms-grid;
    display: grid;
    grid-area: 'card1';
    margin-top: 80px;
    margin-left: 0;
  }
  .cards .card2 {
    display: -ms-grid;
    display: grid;
    grid-area: 'card1';
    margin-top: 50px;
    margin-left: 0;
  }
  .cards .card3 {
    display: -ms-grid;
    display: grid;
    grid-area: 'card1';
    margin-top: 50px;
    margin-left: 0;
  }
  .cards .card4 {
    display: -ms-grid;
    display: grid;
    grid-area: 'card1';
    margin-top: 50px;
    margin-left: 0;
  }
}

@media only screen and (max-width: 375px) {
  .par {
    width: 300px;
    padding: 0 20px;
  }
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0%;
  }
}
/*# sourceMappingURL=sass.css.map */